* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background-color: #000;
}
@font-face {
    font-family: Josefin Sans;
    src: url('/static/core/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Indie;
    src: url('/static/core/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Permanent Marker;
    src: url('/static/core/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 700;
}

p, ol, ul, a, th, td, h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
}

/* Menu */

.topnav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 42px;
    width: 100%;
    border: none;
    background-color: rgba(51, 61, 61, 0.959);
    z-index: 1;
}
#navlogo {
    position: absolute;
    top: 20%;
    left: 2%;
    display: grid;
    place-items: center;
}
#navlogo > img {
    width: auto;
    height: 27px;
}
.navmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navmenu a {
    padding: 5px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.navmenu a:hover {
    background-color: #ddd;
    color: #000;
    font-weight: bolder;
}
.menuactive {
    font-weight: bolder;
    cursor: pointer;
    text-decoration: line-through;
    color: #000;
}

/* Hamburger menu */

.menu-btn {
    position: absolute;
    top: 10%;
    right: 2%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.menu-btn__burger {
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all .4s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all .4s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-8px)
}
.menu-btn__burger::after {
    transform: translateY(8px);
}
.menu-btn.open .menu-btn__burger{
    transform: translateX(-18px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(10px, -10px);
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(10px, 10px);
}

/* Mobile menu */

.mobile-menu {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    background-color: #242424;
    position: fixed;
    top: -27px;
    width: 100%;
    opacity: 0;
    padding: 1rem;
    transition: .4s ease-in-out;
}
.mobile-menu.show {
    top: 27px;
    opacity: 1;
    display: flex;
}
.mobile-menu a,
.mobile-menu a:hover {
    font-size: 1rem;
    line-height: 2em;
    color: #fff;
    text-decoration: none;
}
.mobile-menu .menuactive,
.mobile-menu .menuactive:hover {
    font-size: 1rem;
    line-height: 2em;
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    .navmenu {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}
@media screen and (max-width: 769px) {
    .topnav {
        height: 33px;
    }
    #navlogo, #navsocial {
        top: 10%;
    }
}

/* Footer */

footer {
    border-top: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
}
#footersocial {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}
footer a,
footer a:hover {
    color: #FFFFFF;
    font-size: 11px;
    text-decoration: none;
}
@media screen and (max-width: 769px) {
    footer {
        padding: 3% 1%;
        flex-direction: column;
        grid-gap: 10px;
    }
}