.blogpage {
    padding: 0% 3%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.blogpage #pagetitle {
    display: grid;
    place-items: center;
}
#blogs {
    width: 100%;
    display: grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4% 2%;
}
#blogs a {
    text-decoration: none;
}
#blogs a:hover {
    text-decoration: none;
}
.articlediv {
    filter: grayscale();
    transition: 400ms;
}
.articlediv:hover {
    filter: none;
}
#blogs .blogimage {
    width: 100%;
    height: auto;
}
#blogs .blogmeta {
    margin: 2% 0% 0% 0%;
    display: grid;
    grid-gap: 8px;
    place-items: center;
    text-align: center;
}
#blogs .blogcategory {
    color: gray;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
#blogs .blogtitle {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4rem;
}
#blogs .blogextract {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1rem;
}
#blogs .blogdate {
    color: gray;
    font-size: 11px;
    font-weight: 400;
    bottom: 0;
}
button {
    font-family: Josefin Sans;
    border: 1px gray solid;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    padding: 1% 4%;
    display: none;
}

@media only screen and (max-width: 769px) {
    .articlediv {
        filter: none;
    }
    #blogs {
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
}
@media only screen and (max-width: 500px) {
    .articlediv {
        filter: none;
    }
    #blogs {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}