{% extends "account/index.html" %}
{% load static %}

{% block pagetitle %}
Enter your Email
{% endblock pagetitle %}

{% block pageheader %}
<h3 style="text-align: center;">Log in or create your account</h3>
{% endblock pageheader %}
        
{% block form %}
<form method="post">{% csrf_token %}

    <span class="formlabel">{{ form.email.label }}</span>
    
    {% if sess_email %}
    <input type="email" name="username" class="forminput"  value="{{ sess_email }}">
    {% else %}
    <input type="email" name="email" class="forminput">
    {% endif %}

    <input type="submit" name="search" class="btn" value="Continue">
</form>
{% endblock form %}
