{% extends "account/index.html" %}
{% load static %}

{% block pagetitle %}
Login
{% endblock pagetitle %}

{% block pageheader %}
<h3 style="text-align: center;">Log into your account</h3>
{% endblock pageheader %}

{% block form %}
<form action="" method="post">{% csrf_token %}

    {% if sess_email %}
    <div onclick="history.back()">
        <span class="formlabel">{{ loginForm.username.label }}</span>
        {% for error  in loginForm.username.errors %}
        <p class="formerror">*{{ error }}</p>
        {% endfor %}
        <input type="email" name="username" class="forminput2" value="{{ sess_email }}" readonly>
    </div>

    {% else %}

    <div>
        <span class="formlabel">{{ loginForm.username.label }}</span>
        {% for error  in loginForm.username.errors %}
        <p class="formerror">*{{ error }}</p>
        {% endfor %}
        <p class="forminput"">{{ loginForm.username }}</p>
    </div>

    {% endif %}

    <div>
        <span class="formlabel">{{ loginForm.password.label }}</span>
        {% for error  in loginForm.password.errors %}
        <p class="formerror">*{{ error }}</p>
        {% endfor %}
        <input type="password" name="password" class="forminput">
    </div>

    {% if loginForm.non_field_errors %}
    <div>
        {% for error in loginForm.non_field_errors %}
        <p class="formerror">**{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <input type="submit" name="login" class="btn" value="Log in">
    <!-- <input type="submit" name="login" class="btnalt" value="Log in without password"> -->
    <button class="btnalt">Log in without password</button>

</form>
{% endblock form %}
