@font-face {
    font-family: Josefin Sans;
    src: url('/static/core/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Indie;
    src: url('/static/core/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Permanent Marker;
    src: url('/static/core/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

p, ol, ul, a, th, td, h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
}

/* Menu */

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 34px;
    width: 100%;
    border: none;
    background-color: #171a23;
    z-index: 3;
}
#navlogo {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-0%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 7px;
}
.logoimg {
    width: auto;
    height: 22px;
}
.navmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navmenu a {
    padding: 5px 14px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.navmenu a:hover {
    background-color: #ddd;
    color: #000;
}
#menuactive,
#menuactive:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.access {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-0%, -50%);
}
.accessbtn,
.accessbtn:hover {
    text-decoration: none;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 13px;
    color: #ffffff;
    background-color: #4b6cff;
    border-radius: 4px;
    border: none;
    padding: 3px 10px;
}

/* Hamburger menu */

.menu-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-0%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger {
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-8px)
}
.menu-btn__burger::after {
    transform: translateY(8px);
}
.menu-btn.open .menu-btn__burger{
    transform: translateX(-18px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(10px, -10px);
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(10px, 10px);
}

/* Mobile menu */

.mobile-menu {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 3;
    display: none;
    background: #171a23fa;
    border-top: 1px #c0c0c0 solid;
    padding: 4px 0;
}
.mobile-menu a,
.mobile-menu a:hover {
    text-decoration: none;
}
.mobile-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.mobile-menu-item img {
    max-height: 30px;
}
.mobile-menu-item svg {
    color: #ccc;
}
.mobile-menu-item span {
    color: #ccc;
    font-size: 12px;
    font-family: Indie;
}

@media screen and (max-width: 980px) {
    .navmenu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (max-width: 769px) {
   .logoimg {
        height: 18px;
    }
}
@media screen and (max-width: 342px) {
    .accessbtn,
    .accessbtn:hover {
        font-size: 10px;
        padding: 3px 7px;
    }
}
