@font-face {
    font-family: CrimsonPro;
    src: url('/static/core/fonts/CrimsonPro-VariableFont.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Josefin Sans;
    src: url('/static/core/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Permanent Marker;
    src: url('/static/core/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 700;
}

.pagebody {
    background-color: #000;
}
.blogpage {
    margin: 40px 1vw 30vh 1vw;
}
.blogpage .centered {
    width: 100%;
    display: grid;
    place-items: center;
}
#blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4% 2%;
    margin: 40px 0 0 0;
}
.articlediv {
    filter: grayscale();
    transition: 300ms;
    text-decoration: none;
}
.articlediv:hover {
    filter: none;
    text-decoration: none;
}
.articlediv > a, a:hover {
    text-decoration: none;
}
.articlesec {
    margin: 3%;
    display: grid;
    grid-column: 1fr;
    grid-gap: 10px;
    cursor: pointer;
}
#blogs .blogimage {
    width: 100%;
    height: 100%;
}
.blogmeta {
    margin: 2% 0% 0% 0%;
    display: grid;
    grid-gap: 8px;
    place-items: center;
    text-align: center;
}
.blogcategory {
    color: gray;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
.blogtitle {
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4rem;
}
.blogextract {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 1rem;
    text-decoration: none;
}
.blogdate {
    color: gray;
    font-size: 11px;
    font-weight: 400;
}
button {
    font-family: Josefin Sans;
    border: 1px gray solid;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    padding: 1% 4%;
    display: none;
}
#showbtn {
    width: 100%;
    display: none;
    place-content: center;
    margin: 30px 0;
}

@media only screen and (max-width: 1027) {
    #blogs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 769px) {
    #blogs {
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
    .articlediv {
        filter: none;
    }
}
@media only screen and (max-width: 500px) {
    .blogpage {
        margin: 30px 1vw 70px 1vw;
    }
    #blogs {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 30px 0 0 0;
    }
    .articlediv {
        filter: none;
    }
}

/* Footer */

footer {
    border-top: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    clear: both;
}
#footersocial {
    display: flex;
    grid-gap: 10px;
}
footer > a, a:hover {
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}
@media screen and (max-width: 769px) {
    footer {
        padding: 3% 1%;
        flex-direction: column;
        grid-gap: 10px;
    }
}