* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
    font-family: Indie;
    src: url("/static/core/fonts/IndieFlower-Regular.0841af952c80.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: CrimsonPro;
    src: url("/static/core/fonts/CrimsonPro-VariableFont.3baa74c26c16.ttf") format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Josefin Sans;
    src: url("/static/core/fonts/JosefinSans-VariableFont_wght.324a513cb9c6.ttf") format('truetype');
    font-weight: 400;
}
body {
    background-color: #000000;
    height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
.container {
    width: 100%;
    height: 100vh;
    max-width: 4000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#content {
    width: 100%;
    height: 100vh;
    overflow: auto;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
section {
    /* position: absolute; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#intro {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    overflow: hidden;
    border-radius: 4px;
    border: 3px solid gray;
    background-color: #000000;
}
#intro p {
    padding: 4px;
    color: #ffd900;
    text-align: center;
    font-family: Josefin Sans;
    font-size: small;
    font-weight: bolder;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: flow 17s linear infinite;
    -webkit-animation: flow 17s linear infinite;
    animation: flow 17s linear infinite;
}
@-moz-keyframes flow {
    from { -moz-transform: translateX(100%);}
    to {-moz-transform: translateX(-100%);}
}
@-webkit-keyframes flow {
    from { -webkit-transform: translateX(100%);}
    to {-webkit-transform: translateX(-100%);}
}
@keyframes flow {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
#links {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
}
a, a:hover {
    font-family: Indie;
    font-size: 20px;
    font-weight: 900;
    line-height: 1rem;
    text-decoration: none;
    color: #ffd900;
    cursor: pointer;
}

#bio {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#bio p {
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1rem;
    text-decoration: none;
    color: #ffffffc4;
}
#imagediv {
    position: absolute;
    bottom: 7%;
    left: 20px;
    width: 100%;
    /* display: grid;
    place-items: center; */
}
#image {
    max-width: 5em;
    opacity: 0.7;
}
.feedbackBtn {
    cursor: pointer;
    display: inline;
    position: absolute;
    bottom: 7%;
    right: -3%;
    border: none;
    border-radius: 4px 4px;
    padding: 7px 10px 12px 10px;
    background-color: #000000b7;
    color: #ffffff;
    font-family: CrimsonPro;
    font-size: 14px;
    font-weight: normal;
    z-index: 2;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media screen and (max-width: 770px) {
    #imagediv {
        left: 10px;
    }  
    #image {
        max-width: 4em;
    }
    .feedbackBtn {
        bottom: 20%;
        right: -8%;
    }
}
@media screen and (max-width: 480px) {
    .feedbackBtn {
        bottom: 20%;
        right: -11%;
    }
}