{% extends "core/base.html" %}
{% load static %}

{% block head %}
<title>{{ article.title }} | A-Z Logs, a blog by Leroy Buliro</title>
<meta name="description" content="{{ article.extract }}">
<meta name="keyword" content="{{episode.tags}}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@leroybuliro">
<meta name="twitter:creator" content="@leroybuliro">
<meta name="twitter:title" content="{{ article.title }} | Leroy Buliro">
<meta name="twitter:description" content="{{ article.extract }}">
<meta name="twitter:image" content="">

<!-- Facebook -->
<meta property="og:url" content="https://leroybuliro.com/">
<meta property="og:title" content="{{ article.title }} | Leroy Buliro">
<meta property="og:description" content="{{ article.extract }}">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<link rel="stylesheet" href="{% static 'core/articlelayout.css' %}">

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', ()=> {
        $(document).ready(()=> {
            const background = document.querySelector('.meta')
            const choices = ['#86baaf', '#ffca52']
            const randomNumber = Math.floor(Math.random()*2)
            const selection = choices[randomNumber]
            background.style.background = selection
        });
        
        $('.readyreply').click((event)=> {
            event.preventDefault();
            $(this).parent().next('.replyform').fadeToggle();
        })
    })
</script>
{% endblock head %}

{% block navmenu %}
<!-- <a href="{% url 'core:index' %}">HOME</a> -->
<a href="{% url 'core:blog' %}">BLOG</a>
<a href="{% url 'core:podcast' %}">PODCAST</a>
<a href="{% url 'store:catalogue' %}">SHOP</a>
{% endblock navmenu %}

{% block mobilemenu %}
<a href="{% url 'core:events' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/tickets.svg' %}"></img>
        <span>Tickets</span>
    </div>
</a>
<a href="{% url 'core:blog' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/blog.svg' %}"></img>
        <span>Blog</span>
    </div>
</a>
<a href="{% url 'core:podcast' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/podcast.svg' %}"></img>
        <span>Podcast</span>
    </div>
</a>
<a href="{% url 'store:catalogue' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/shop.svg' %}"></img>
        <span>Shop</span>
    </div>
</a>
{% endblock mobilemenu %}

{% block page %}
<div class="articlepage">
    <article>
        <section class="articlemeta">
            {% if article.featureimageURI %}
            <img src="{{ article.featureimageURI }}" alt="{{ article.title }}" height="720" width="480" style="height: auto; width: 100%; object-fit: cover;">
            {% else %}
            <img src="{{ article.featureimage.url }}" alt="{{ article.title }}" height="720" width="480" style="height: auto; width: 100%; object-fit: cover;">
            {% endif %}
            <div class="meta">
                <a href="{% url 'core:blog' %}" style="text-decoration: none;">
                    <p class="header">A-Z LOGS</p>
                </a>
                <div class="category">{{ article.category }}</div>
                <div class="title">{{ article.title }}</div>
                <div class="pubDate">{{ article.publishdate }}</div>
                <hr style="border-top: 1px #000 solid; padding: 0% 20%; margin: 0;"/>
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 40%;">

                    <a class="stat" style="position: relative; cursor: pointer;">
                        <img id="likebtn" src="{% static 'core/media/like.svg' %}" alt="like article" width="20" height="20" >
                        <span class="stats">0</span>
                    </a>
                    <div class="stat">
                        <img src="{% static 'core/media/view_black.png' %}" alt="reads" width="20" height="20" >
                        <span class="stats">{{ article.viewCount }}</span>
                    </div>
                    <a href="#commentnow" class="stat">
                        <img src="{% static 'core/media/comment_black.png' %}" alt="post comment" width="20" height="20" >
                        <span class="stats">{{ article.commentCount }}</span>
                    </a>
                </div>
            </div>
        </section>
    
        <div class="articlecontent">
            {% if article.credit %}
            <p id="credit">{{ article.credit }}</p>
            {% else %}
            <div style="display: none;"></div>
            {% endif %}
            <div class="content">{{ article.content | safe }}</div>
        </div>
    </article>
    <div>
        <p class="entryend" id="sharenow">END OF ENTRY</p>
    </div>
    <div class="aboutsec" id="commentnow">
        <img src="{% static 'core/media/about.jpg' %}" alt="leroy" style="border-radius: 50%; border: 1px #c2c2c2b9 solid; max-width: 7em; padding: 0.3em;">
        <div>
            <p class="header">Join the Discussion</h2>
            <p>Hi there. Welcome to my personal website, a place for me to log snapshots of my life over the years, share stories as told by others, and periodically post technical content that may interest a couple other people. Thank you for being part of the community.</p>
        </div>
        <!-- <button onclick="document.getElementById('id01').style.display='block'">Send feedback</button> -->
        {% if user.is_authenticated %}
        <button onclick="document.getElementById('newComment').style.display='block'">Add a comment</button>
        {% else %}
        <a href="{% url 'account:auth' %}"><button>Please log in or sign up to comment</button></a>
        {% endif %}

        {% if commentsCount == 1 %}
        <p class="responses">1 response</h5>
        {% else %}
        <p class="responses">{{ article.commentCount }} responses</h5>
        {% endif %}
    </div>

    {% if article.comments %}
    <div class="commentsec">
        {% for comment in article.comments %}
        <div class="commentBox">
            <section>
                <div class="maincomment">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="text-transform: capitalize; color: #c2c2c2b9; font-weight: bolder;">{{ comment.user.alias }}</p>
                        <p style="color: #c2c2c2b9;">{{ comment.timestamp | timesince }} ago</p>
                    </div>
                    <br>
                    <p>{{ comment.content | safe }}</p>
                    <br>
                    <div style="display: flex; flex-direction: row; gap: 17px;">
                        <img class="readyreply" src="{% static 'core/media/reply.svg' %}" alt="reply to {{ comment.user.alias }}:  {{ comment.content | safe }}" width="20" height="20" style="cursor: pointer;">
                        {% if request.user == comment.user %}
                        <img src="{% static 'core/media/delete.svg' %}" alt="delete comment" width="20" height="20" style="cursor: pointer;">
                        {% endif %}
                        <!-- <img src="{% static 'core/media/flag.svg' %}" alt="flag comment" width="20" height="20" style="cursor: pointer;"> -->
                    </div>
                    {% if user.is_authenticated %}
                    <div class="replyform" style="display: none;">
                        <form class="modal-container" method="POST" action=".">
                            {% csrf_token %}
                            <div class="modal-section">
                                {{ form.content }}
                                <input type="hidden" name="parent_id" value="{{ comment }}">
                                <div style="display: flex; justify-content: right;">
                                    <button class="modal-btn-alt" type="submit" name="submitcomment" style="padding: 4px 7px;">Reply</button>
                                    <!-- <button class="modal-btn" class="closereply" type="button" style="padding: 2px 4px;">Cancel</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </section>
            {% for reply in comment.replies.all %}
            <section class="replyBox">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
                    <div>
                        <p style="text-transform: capitalize; color: #c2c2c2b9; font-weight: bolder;">{{ reply.user.alias }}</p>
                        <p style="color: #c2c2c2b9;">{{ reply.timestamp | timesince }} ago</p>
                        <br>
                        <p>{{ reply.content | safe }}</p>
                    </div>
                    <div style="display: flex; flex-direction: row; gap: 17px;">
                        {% if request.user == reply.user %}
                        <img src="{% static 'core/media/delete.svg' %}" alt="delete comment" width="20" height="20" style="cursor: pointer;">
                        {% endif %}
                        <!-- <img src="{% static 'core/media/flag.svg' %}" alt="flag comment" width="20" height="20" style="cursor: pointer;"> -->
                    </div>
                </div>                
            </section>
            {% endfor %}
        </div>
        {% endfor %}
    </div> 
    {% endif %}

</div>

{% if not user.is_authenticated %}
<div class="replyform" class="modal" style="display: none;">
    <div class="modal-content" style="max-width:600px">
        <div style="padding: 0.01em;">
            <p style="text-align: left; color: #000; font-size: large; font-weight: bold;">You must be logged in to reply!</p>
            <span id="closereply" class="modal-close-btn" title="Close">&times;</span>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div id="newComment" class="modal">
    <div class="modal-content" style="max-width:600px">

        <div style="padding: 0.01em;">
            <p style="text-align: left; color: #000; font-size: x-large; font-weight: bold;">Add a comment!</p>
            <span onclick="document.getElementById('newComment').style.display='none'" class="modal-close-btn" title="Close">&times;</span>
        </div>

        <form method="POST" action="." class="modal-container">{% csrf_token %}
            <div class="modal-section">
                <div>
                    <!-- {{ form }} -->
                    <!-- <textarea name="content" rows="4" type="text" minlength="1" maxlength="420" placeholder="This conversation is moderated."></textarea> -->
                    {{ form.content }}
                    <p style="color: #929292; font-size: small; padding-top: 1px;">1/420 maximum characters.</p>
                </div>
                <div style="display: flex; justify-content: right; padding-top: 4px;">
                    <button class="modal-btn-alt" type="submit" name="submitcomment">Post</button>
                    <button class="modal-btn" onclick="document.getElementById('newComment').style.display='none'" type="button">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock page %}
