{% extends "core\core.html" %}
{% load static %}

{% block title %}
<title>{{ article.title }} | Leroy Buliro</title>
{% endblock title %}

{% block navmenu %}
    <!--a id="menuactive">HOME</a-->
    <a href="{% url 'core:blogpage' %}">BLOG</a>
    <a href="{% url 'core:podcast' %}">PODCAST</a>
    <a href="{% url 'core:events' %}">GIGS</a>
{% endblock navmenu %}

{% block body %}

<div class="articlepage">

    <section>
        <img src="{{ article.featureimage.url }}" alt="{{ article.title }}" height="720" width="480" style="height: auto; width: 100%; object-fit: cover;">
        <div class="meta">
            <div id="category">{{ article.category }}</div>
            <div id="title">{{ article.title }}</div>
            <div id="pubDate">{{ article.publishdate }}</div>
            <hr style="border-top: 1px #000 solid; padding: 0% 20%;">
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 40%;">
                <img src="{% static 'core/icons/share_black.png' %}" alt="share article" width="20" height="20" >
                <img src="{% static 'core/icons/comment_black.png' %}" alt="post comment" width="20" height="20" >
                <img src="{% static 'core/icons/view_black.png' %}" alt="reads" width="20" height="20" >
            </div>
        </div>
    </section>

    <div class="articlecontent">
        <div class="maincontent">{{ article.content | safe }}</div>
        <br/>
        {% if article.credit %}
        <p id="credit" style="color: gray;">{{ article.credit }}</p>
        {% else %}
        <div style="display: none;"></div>
        {% endif %}
    </div>

</div>

<div>
    <p class="entryend">END OF ENTRY</p>
</div>
    
<a href="{% url 'core:blogpage' %}" class="articlepagemiddle">
    <button class="articlepagebtn">READ MORE ENTRIES</button>
</a>

{% endblock body %}

{% block script %}
<script>
    const background = document.querySelector('.meta');

    document.body.querySelector('.meta').addEventListener('load', getBGcolor());

    function getBGcolor() {
        const choices = ['orange', '#86baaf', '#ffca52']
        const randomNumber = Math.floor(Math.random()*3);
        const selection = choices[randomNumber];
        background.style.backgroundColor = selection;
    }
</script>
{% endblock script %}