{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" type="image/png" href="{% static 'core/media/favicon.ico' %}"/>
        <meta name="author" content="Leroy Buliro"/>
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet" href="{% static 'core/base.css' %}"/>
        <script src="{% static 'core/main.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@graph": [
                {
                    "@id": "#site",
                    "@type": "Website",
                    "name": "Leroy Buliro",
                    "author": "Leroy Buliro",
                    "description": "Leroy Buliro: deejay, financial advisor, writer, podcaster",
                    "url": "https://leroybuliro.com",
                    "schemaVersion": "10.0",
                    "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                },
                {
                    "@type": "Blog",
                    "isPartOf": "#site",
                    "name": "A-Z Logs, a blog by Leroy Buliro",
                    "description": "A-Z Logs, a blog by Leroy Buliro",
                    "url": "https://leroybuliro.com/a-z-logs",
                    "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                }
                ]
            }
        </script>
    </head>
    
    <body class="pagebody">
        <nav>
            <a id="navlogo" href="{% url 'core:index' %}">
                <img class="logoimg" src="{% static 'core/media/lbwhite.png' %}" alt="logo">
            </a>
            
            <div class="navmenu">    
                {% block navmenu %}
                {% endblock navmenu %}
            </div>
            
            <div class="access">
                {% if user.is_authenticated %}
                <a class="accessbtn" href="{% url 'account:logout' %}">LOG OUT</a>
                {% else %}
                <a class="accessbtn" href="{% url 'account:auth' %}">SIGN IN</a>
                {% endif %}
            </div>
            
            <!-- <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>  -->
        </nav>
        
        {% block page %}
        {% endblock page %}
        
        {% block footer %}
        {% endblock footer %}
        
        <div class="mobile-menu">
            <a href="{% url 'core:index' %}">
                <div class="mobile-menu-item">
                    <img src="{% static 'core/media/home.svg' %}"></img>
                    <span>Home</span>
                </div>
            </a>
            {% block mobilemenu %}
            {% endblock mobilemenu %}
        </div>
        
    </body>
    
    <noscript>
        <div style="display: flex; place-content: center;">
            <p>Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
        </div>
    </noscript>
</html>