{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        {% block title %}
        {% endblock title %}
        
        <link rel="icon" type="image/png" href="{% static 'core/icons/lb.jpg' %}">

        <!-- Load css file -->
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        {% block style %}
        {% endblock style %}
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Load js file -->
        {% block script %}
        {% endblock script %}
    </head>

    <body>
        <nav class="topnav">
            <a id="navlogo" href="{% url 'core:index' %}">
                <img src="{% static 'core/icons/atlbwhite.png' %}" alt="mail" width="200" height="25">
            </a>
            <div class="navmenu">
                {% block navmenu %}
                {% endblock navmenu %}
            </div>
            <div id="navsocial">
                <a href="https://twitter.com/leroybuliro/" target="_blank"><img src="{% static 'core/icons/iconTT.png' %}" alt="twitter" width="20" height="20" ></a>
                <a href="https://instagram.com/leroybuliro/" target="_blank"><img src="{% static 'core/icons/iconIG.png' %}" alt="instagram" width="20" height="20" ></a>
            </div>
        </nav>

        {% block body %}
        {% endblock body %}
    
        <footer>
            <a>© 2021 Leroy Buliro. All rights reserved.</a>
            <a href="{% url 'core:privacy' %}">Legal</a>
        </footer>
    </body>


</html>