{% extends "core\core.html" %}

{% load static %}

{% block title %}
    <title>A-Z Logs | Leroy Buliro</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/blog.css' %}">
{% endblock style %}

{% block navmenu %}
    <!--a id="menuactive">HOME</a-->
    <a id="menuactive">BLOG</a>
    <a href="{% url 'core:podcast' %}">PODCAST</a>
{% endblock navmenu %}

{% block body %}
<!-- blog section -->
<div class="blogpage">
    
    <div id="pagetitle">
        <p style="color: #fff; font-size: xx-large; font-weight: bold; text-align: center; line-height: 0rem;">A-Z LOGS</p>
        <p style="color: rgb(141, 141, 141); font-size: medium; font-weight: lighter; text-align: center; line-height: 0rem; margin-top: 0px;">A Leroy Buliro Blog</p>
    </div>
    
    <div id="blogs">
        <!-- blog-post loop -->
        {% for article in articles %}
        <section style="border: 1px solid #ccc; border-radius: 2%;">
            <a href="{% url 'core:blogpost' article.id %}">
                <div style="margin: 3%; display: grid; grid-column: 1fr; grid-gap: 10px;">
                    <img  class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                    <div class="blogmeta">
                        <p class="blogcategory">{{ article.category }}</p>
                        <h3 class="blogtitle">{{ article.title }}</h3>
                        <p class="blogextract">{{ article.extract  }}</p>
                        <p class="blogdate">{{ article.publishdate }}</p>
                    </div>
                </div>
            </a>
        </section>
        {% endfor %}
    </div>

    <!-- /. blog-post -->

</div><!-- /.blog section -->
    
{% endblock body %}