<!-- {% include 'core/feedbackModal.html' %} -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- site meta tags-->
        <link rel="icon" type="image/png" href="{% static 'core/media/fbl.jpg' %}"/>
        <meta name="author" content="Leroy Buliro">
        <link rel="canonical" href="https://leroybuliro.com/">
        <meta name="docsearch:language" content="en">
        
        <title>A-Z Logs, a blog by Leroy Buliro</title>
        <meta name="description" content="A-Z Logs, a blog by Leroy Buliro">
        <meta name="keyword" content="Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@leroybuliro">
        <meta name="twitter:creator" content="@leroybuliro">
        <meta name="twitter:title" content="A-Z Logs, a blog by Leroy Buliro">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!-- Facebook -->
        <meta property="og:url" content="https://leroybuliro.com/">
        <meta property="og:title" content="A-Z Logs, a blog by Leroy Buliro">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1000">
        <meta property="og:image:height" content="500">

        <!-- Load css file -->
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'core/feedbackModal.css' %}"> -->
        <link rel="stylesheet" href="{% static 'core/blog.css' %}">
        
        <!-- Load js file -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@graph": [
                {
                    "@id": "#site",
                    "@type": "Website",
                    "name": "Leroy Buliro",
                    "author": "Leroy Buliro",
                    "description": "Leroy Buliro: deejay, financial advisor, writer, podcaster",
                    "url": "https://leroybuliro.com",
                    "schemaVersion": "10.0",
                    "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                },
                {
                    "@type": "Blog",
                    "isPartOf": "#site",
                    "name": "A-Z Logs, a blog by Leroy Buliro",
                    "description": "A-Z Logs, a blog by Leroy Buliro",
                    "url": "https://leroybuliro.com/a-z-logs",
                    "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                }
                ]
            }
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script src="{% static 'core/base.js' %}"></script>
        <script src="{% static 'core/blog.js' %}"></script>
    </head>
    
    <body>
        <nav class="topnav">
            <a id="navlogo" href="{% url 'core:index' %}">
                <img src="{% static 'core/media/lbwhite.png' %}" alt="logo" >
            </a>
            
            <div class="navmenu">
                <!-- <a  class="navlink" href="{% url 'core:index' %}">HOME</a> -->
                <a  class="navlink" href="{% url 'core:event' %}">EVENTS</a>
                <a id="menuactive">BLOG</a>
                <a class="navlink" href="{% url 'core:podcast' %}">PODCAST</a>
            </div>
            
            <div class="access">
                {% if user.is_authenticated %}
                <a class="accessbtn" href="{% url 'account:logout' %}">Log out</a>
                {% else %}
                <a class="accessbtn" href="{% url 'account:auth' %}">Sign in</a>
                {% endif %}
            </div>
            
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </nav>
        
        <div class="mobile-menu">
            <!-- <a href="{% url 'core:index' %}">HOME</a> -->
            <a  href="{% url 'core:event' %}">EVENTS</a>
            <a href="#">BLOG</a>
            <a href="{% url 'core:podcast' %}">PODCAST</a>
        </div>
        
        <!-- <noscript>
            <div class="container">
                <div class="row">
                    <div class="col-xs-20 text-center">
                        <p class="no-javascript-warning">Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
                    </div>
                </div>
            </div>
        </noscript> -->

        <div class="blogpage">
    
            <div class="centered">
                <p style="color: #fff; font-family: CrimsonPro; font-size:40px; font-weight: bold; text-align: center; line-height: 1rem; margin-top: 1rem;">A-Z LOGS</p>
                <p style="color: rgb(141, 141, 141); font-size: medium; font-weight: lighter; text-align: center; line-height: 1rem; margin-top: 12px;">A Leroy Buliro Blog</p>
            </div>
            
            {% if articles %}
            <div id="blogs">
                {% for article in articles %}
                <section class="articlediv" style="border: 1px solid #ccc; border-radius: 2%;">
                    <a href="{% url 'core:blogpost' pk=article.id slug=article.slug %}">
                    <!-- <form method="get" action="{% url 'core:blogpost' pk=article.id slug=article.slug %}"> -->
                        <input type="hidden" name="article-id" value="{{article.id}}">
                        
                        <!-- <div class="articlesec" onclick="this.closest('form').submit();return false;" style="margin: 3%; display: grid; grid-column: 1fr; grid-gap: 10px; cursor: pointer;"> -->
                        <div class="articlesec" style="margin: 3%; display: grid; grid-column: 1fr; grid-gap: 10px; cursor: pointer;">
                            <div style="width: 100%; height: auto; object-fit: cover;">
                                <img  class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                            </div>
                            <div class="blogmeta">
                                <p class="blogcategory">{{ article.category }}</p>
                                <h3 class="blogtitle">{{ article.title }}</h3>
                                <p class="blogextract">{{ article.extract  }}</p>
                                <p class="blogdate">{{ article.publishdate }}</p>
                                <!-- <input type="submit" value="Read more"> -->
                            </div>
                        </div>
                    <!-- </form> -->
                    </a>
                </section>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        
        <div id="showbtn">
            <button id="loadnext">SHOW MORE</button>
        </div>
        
        <footer>
            <div id="footersocial">
                <a href="https://twitter.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconTT.png' %}" alt="twitter" width="auto" height="22" ></a>
                <a href="https://instagram.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconIG.png' %}" alt="instagram" width="auto" height="22" ></a>
            </div>
            <a>© 2022 Leroy Buliro. All rights reserved.</a>
            <span>
                <a href="{% url 'core:legal' %}">Legal</a>
            </span>
        </footer>
    </body>
</html>

<!-- 
{% load static %}

{% block meta %}
<title>A-Z Logs, a blog by Leroy Buliro</title>
<meta name="description" content="A-Z Logs, a blog by Leroy Buliro">
<meta name="keyword" content="Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">

<!-- Twitter ->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@leroybuliro">
<meta name="twitter:creator" content="@leroybuliro">
<meta name="twitter:title" content="A-Z Logs, a blog by Leroy Buliro">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Facebook ->
<meta property="og:url" content="https://leroybuliro.com/">
<meta property="og:title" content="A-Z Logs, a blog by Leroy Buliro">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/blog.css' %}">
{% endblock style %}

{% block script %}
<script src="{% static 'core/blog.js' %}"></script>
{% endblock script %}

{% block navmenu %}
<div class="navmenu">
    <a  class="navlink" href="{% url 'core:index' %}">HOME</a>
    <a  class="navlink" href="{% url 'core:event' %}">EVENTS</a>
    <a id="menuactive">BLOG</a>
    <a class="navlink" href="{% url 'core:podcast' %}">PODCAST</a>
</div>
{% endblock navmenu %}

{% block mobmenu %}
<div class="mobile-menu">
    <a href="{% url 'core:index' %}">HOME</a>
    <a  href="{% url 'core:event' %}">EVENTS</a>
    <a href="#">BLOG</a>
    <a href="{% url 'core:podcast' %}">PODCAST</a>
</div>
{% endblock mobmenu %}

{% block body %}
<div class="blogpage">
    
    <div class="centered">
        <p style="color: #fff; font-family: CrimsonPro; font-size:40px; font-weight: bold; text-align: center; line-height: 1rem; margin-top: 1rem;">A-Z LOGS</p>
        <p style="color: rgb(141, 141, 141); font-size: medium; font-weight: lighter; text-align: center; line-height: 1rem; margin-top: 12px;">A Leroy Buliro Blog</p>
    </div>
    
    {% if articles %}
    <div id="blogs">
        {% for article in articles %}
        <section class="articlediv" style="border: 1px solid #ccc; border-radius: 2%;">
            <!-- <a href="{% url 'core:blogpost' pk=article.id slug=article.slug %}"> ->
            <form method="get" action="{% url 'core:blogpost' pk=article.id slug=article.slug %}">
                <input type="hidden" name="article-id" value="{{article.id}}">
                
                <div class="articlesec" onclick="this.closest('form').submit();return false;" style="margin: 3%; display: grid; grid-column: 1fr; grid-gap: 10px; cursor: pointer;">
                    <div style="width: 100%; height: auto; object-fit: cover;">
                        <img  class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                    </div>
                    <div class="blogmeta">
                        <p class="blogcategory">{{ article.category }}</p>
                        <h3 class="blogtitle">{{ article.title }}</h3>
                        <p class="blogextract">{{ article.extract  }}</p>
                        <p class="blogdate">{{ article.publishdate }}</p>
                    </div>
                </div>
            </form>
            <!-- </a> ->
        </section>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div id="showbtn">
    <button id="loadnext">SHOW MORE</button>
</div>
    
{% endblock body %} -->