{% extends "core/base.html" %}
{% load static %}

{% block head %}
<title>A-Z Logs, a blog by Leroy Buliro</title>
<meta name="description" content="A-Z Logs, a blog by Leroy Buliro">
<meta name="keyword" content="Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@leroybuliro">
<meta name="twitter:creator" content="@leroybuliro">
<meta name="twitter:title" content="A-Z Logs, a blog by Leroy Buliro">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Facebook -->
<meta property="og:url" content="https://leroybuliro.com/">
<meta property="og:title" content="A-Z Logs, a blog by Leroy Buliro">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<link rel="stylesheet" href="{% static 'core/feedbackModal.css' %}">
<link rel="stylesheet" href="{% static 'core/blog.css' %}">
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
        {
            "@id": "#site",
            "@type": "Website",
            "name": "Leroy Buliro",
            "author": "Leroy Buliro",
            "description": "Leroy Buliro: deejay, financial advisor, writer, podcaster",
            "url": "https://leroybuliro.com",
            "schemaVersion": "10.0",
            "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
        },
        {
            "@type": "Blog",
            "isPartOf": "#site",
            "name": "A-Z Logs, a blog by Leroy Buliro",
            "description": "A-Z Logs, a blog by Leroy Buliro",
            "url": "https://leroybuliro.com/a-z-logs",
            "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
        }
        ]
    }
</script>
{% endblock head %}

{% block navmenu %}
<!-- <a  href="{% url 'core:index' %}">HOME</a> -->
<a id="menuactive">BLOG</a>
<a href="{% url 'core:podcast' %}">PODCAST</a>
{% endblock navmenu %}

{% block mobilemenu %}
<!-- <a href="{% url 'core:index' %}">HOME</a> -->
<a href="#">BLOG</a>
<a href="{% url 'core:podcast' %}">PODCAST</a>
{% endblock mobilemenu %}

{% block page %}
<div>
    <div class="blogpage">
        <div class="centered">
            <p style="color: #fff; font-family: CrimsonPro; font-size:40px; font-weight: bold; text-align: center; line-height: 1rem; margin-top: 1rem;">A-Z LOGS</p>
            <p style="color: rgb(141, 141, 141); font-size: medium; font-weight: lighter; text-align: center; line-height: 1rem; margin-top: 12px;">A Leroy Buliro Blog</p>
        </div>
        
        {% if articles %}
        <div id="blogs">
            {% for article in articles %}
            <section class="articlediv" style="border: 1px solid #ccc; border-radius: 2%;">
                <a href="{% url 'core:article' pk=article.id slug=article.slug %}">                    
                    <div class="articlesec">
                        <div style="width: 100%; height: auto; object-fit: cover;">
                            {% if article.featureimageURI %}
                            <img  class="blogimage" src="{{ article.featureimageURI }}" alt="{{ article.title }}">
                            {% else %}
                            <img  class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                        <div class="blogmeta">
                            <p class="blogcategory">{{ article.category }}</p>
                            <h3 class="blogtitle">{{ article.title }}</h3>
                            {% if article.extract %}
                            <p class="blogextract">{{ article.extract  }}</p>
                            {% else %}
                            <p class="blogextract">{{ article.content | safe | truncatewords:24   }}</p>
                            {% endif %}
                            <p class="blogdate">{{ article.publishdate }}</p>
                        </div>
                    </div>
                </a>
            </section>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <div id="showbtn">
        <button id="loadnext">SHOW MORE</button>
    </div>
</div>
{% endblock page %}

{% block footer %}
<footer>
    <div id="footersocial">
        <a href="https://twitter.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconTT.png' %}" alt="twitter" width="auto" height="22" ></a>
        <a href="https://instagram.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconIG.png' %}" alt="instagram" width="auto" height="22" ></a>
    </div>
    <a style="color: #fff;">© 2022 Leroy Buliro. All rights reserved.</a>
    <span>
        <a href="{% url 'core:legal' %}" style="color: #fff;">Legal</a>
    </span>
</footer>
{% endblock footer %}