<div class="commentsec"><!-- Comments section -->
    <h5 style="text-decoration: underline; padding-bottom: 3%;">COMMENTS [{{comments_count}}]</h5>

    <form action="{% url 'core:blogpost' blog.id %}" method="POST">
        {% csrf_token %}
        {{ commentform }}
        <input type="submit" value="SUBMIT">
    </form>

    <form method="POST">
        {% csrf_token %}
        {{ commentform }}
        <input type="submit" value="SUBMIT">
    </form>

    {% if not article.comments.all %}
    <div style="padding: 0% 0% 0% 0% 3% 0%;">
        <p>Be the first to comment</p>
    </div>
    {% else %}

    {% for comment in article.comments.all %}
    <div style="padding: 0% 0% 3% 0%;">
        <p>{{ comment.name }} on {{ comment.postdate }}</p>
        <p>{{ comment.body | safe }}</p>
    </div>

    {% endfor %}
    {% endif %}
</div><!-- / Comments section -->