{% extends "core\base.html" %}
{% load static %}

{% block title %}
    <title>{{episode.title}} | Leroy Buliro</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/episode.css' %}">
{% endblock style %}

{% block script %}
<script src="{% static 'core/episode.js' %}"></script>
{% endblock script %}

{% block navmenu %}
    <a href="{% url 'core:index' %}">HOME</a>
    <a href="{% url 'core:blogpage' %}">BLOG</a>
    <a href="{% url 'core:podcast' %}">PODCAST</a>
{% endblock navmenu %}

{% block body %}
<!-- Podcast section -->

<div class="episodepage">
    
    <div class="back_btn">
        <img src="{% static 'core/icons/back_white.png' %}" alt="more episodes" width="27" height="27"/>
        <a href="{% url 'core:podcast' %}" style="text-decoration: none; font-size: small;" >MORE EPISODES</a>
    </div>

    <div class="row">
        <div class="side">
            <img src="{{ episode.image.url }}" alt="{{episode.title}}" style="width: 80%; height: auto;">
        </div>

        <div class="main">
            <span style="color: gray;">{{ episode.pubDate }}</span>
            <h5 style="color: white; padding-bottom: 4%;">{{ episode.title }}</h5>
            <div class="epi-content">
                <span>DESCRIPTION</span>
                <p>{{ episode.summary }}</p>

                <audio id="episodeaudio" preload="true" >
                    <source src="{{ episode.audio.url }}">
                </audio>

                <div class="controls">
                    <img class="pButton"  id="rev" src="{% static 'core/icons/replay_10.png' %}" alt="replay 10 seconds">
                    <img  class="pButton" id="pButton" src="{% static 'core/icons/play.png' %}" alt="play episode">
                    <img class="pButton" id="fwd" src="{% static 'core/icons/forward_30.png' %}" alt="forward 30 seconds">
                </div>

                <div id="timeline">
                    <div id="playhead"></div>
                    <div class="timer"></div>
                    <div class="Audio_durationTime"></div>
                </div>


            </div>
        </div>
    </div>

</div><!-- / Podcast section -->

{% endblock body %}