{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{% static 'core/media/favicon.ico' %}"/>
        <meta name="author" content="Leroy Buliro">
        <link rel="canonical" href="https://leroybuliro.com/">
        <meta name="docsearch:language" content="en">
        <link rel="stylesheet" href="{% static 'core/error.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div id="errContainer">
            <img class="logoimg" src="{% static 'core/media/lbwhite.svg' %}" alt="logo" style="width: auto; height: 20px;">           
            {% block page %}
            {% endblock page %}
        </div>
    </body>
</html>