{% extends "core/base.html" %}
{% load static %}

{% block head %}
<title>Events & Tickets | Leroy Buliro</title>
<meta name="description" content="A-Z Logs, a blog by Leroy Buliro">
<meta name="keyword" content="Kenya, Nairobi, underground events, nightlife">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@leroybuliro">
<meta name="twitter:creator" content="@leroybuliro">
<meta name="twitter:title" content="Events & Tickets | Leroy Buliro">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Facebook -->
<meta property="og:url" content="https://leroybuliro.com/">
<meta property="og:title" content="Events & Tickets | Leroy Buliro">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<link rel="stylesheet" href="{% static 'core/events.css' %}">
{% endblock head %}

{% block navmenu %}
<a href="{% url 'core:blog' %}">BLOG</a>
<a href="{% url 'core:podcast' %}">PODCAST</a>
<a href="#">SHOP</a>
{% endblock navmenu %}

{% block mobilemenu %}
<a href="#">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/tickets.svg' %}"></img>
        <span>Tickets</span>
    </div>
</a>
<a href="{% url 'core:blog' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/blog.svg' %}"></img>
        <span>Blog</span>
    </div>
</a>
<a href="{% url 'core:podcast' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/podcast.svg' %}"></img>
        <span>Podcast</span>
    </div>
</a>
<a href="{% url 'store:catalogue' %}">
    <div class="mobile-menu-item">
        <img src="{% static 'core/media/shop.svg' %}"></img>
        <span>Shop</span>
    </div>
</a>
{% endblock mobilemenu %}

{% block page %}
<section>
    <p class="title">NO UPCOMING EVENTS</p>
</section>
{% endblock page %}
