{% extends "core\core.html" %}
{% load static %}

{% block title %}
<title>Home | Leroy Buliro</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/homepage.css' %}">
{% endblock style %}

{% block navmenu %}
<a href="{% url 'core:blogpage' %}">BLOG</a>
<a href="{% url 'core:podcast' %}">PODCAST</a>
{% endblock navmenu %}

{% block body %}

<div class="aboutsec">
    <section>
        <img src="{% static 'core/icons/about.jpg' %}" alt="leroy" style="border-radius: 50%; max-width: 10em; padding: 2em;">
        <p>Hi there. They call me Leroy, Mr. Buliro, but I also go by LERB. I am a full time financial advisor, part-time deejay, and occasional...well, you guessed it, storytelling enthusiast. Welcome to my personal website, a place for me to log snapshots of my life over the years, share stories as told by others, and periodically post technical content that may interest a couple other people.</p>
        <div style="display:grid; grid-gap: 12px; grid-template-rows: 1fr; padding-top: 2rem;">
            <a href="{% url 'core:blogpage' %}" >
                <button class="btn">BLOG</button>
            </a>
            <a href="{% url 'core:podcast' %}" >
                <button class="btn">PODCAST</button>
            </a>
            <a href="https://calendly.com/lerbfinancial/consultation/" >
                <button class="btn">BOOK A FINANCIAL CONSULTATION</button>
            </a>
        </div>
    </section>

</div>

{% endblock body %}