{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Home | Leroy Buliro</title>
        
        <link rel="icon" type="image/png" href="{% static 'core/icons/lb.jpg' %}">

        <!-- Load css file -->
        <link rel="stylesheet" href="{% static 'core/homepage.css' %}">
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Load js file -->
        <script>
            document.addEventListener('DOMContentLoaded', function(){

                document.querySelector('body').addEventListener('load', ()=> {
                    let height = screen.availHeight
                    let width = screen.availWidth
                    document.querySelector('#content').style.height = height;
                    document.querySelector('#content').style.width = width;
                });

            });
        </script>
    </head>

    <body>
        <section id="content">
            <div id="links">
                <a href="{% url 'core:blogpage' %}" >BLOG</a>
                <a href="{% url 'core:podcast' %}" >PODCAST</a>
                <a href="https://calendly.com/lerbfinancial/consultation/" >BOOK A FINANCIAL CONSULTATION</a>
            </div>
        </section>
    </body>
</html>