{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Leroy Buliro</title>
        <link rel="icon" type="image/png" href="{% static 'core/media/favicon.ico' %}">
        <meta name="description" content="Leroy Buliro is a part-time deejay, full-time consultant, and occassional storyteller.">
        <meta name="keyword" content="Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">
        <!-- meta author -->
        <meta name="author" content="Leroy Buliro">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@leroybuliro">
        <meta name="twitter:creator" content="@leroybuliro">
        <meta name="twitter:title" content="Leroy Buliro">
        <meta name="twitter:description" content="Leroy Buliro: deejay, financial advisor, writer, podcaster">
        <meta name="twitter:image" content="">
        <!-- Facebook -->
        <meta property="og:url" content="https://leroybuliro.com/">
        <meta property="og:title" content="Leroy Buliro">
        <meta property="og:description" content="Leroy Buliro: deejay, financial advisor, writer, podcaster">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1000">
        <meta property="og:image:height" content="500">
        <!-- Load css file -->
        <link rel="stylesheet" href="{% static 'core/homepage.css' %}">
        <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "WebSite",
              "name": "Fueled By Leroy",
              "author": "Leroy Buliro",
              "description": "The official site of Leroy Buliro: deejay, writer, podcaster",
              "url": "https://leroybuliro.com",
              "schemaVersion": "10.0",
              "keywords": "Leroy Buliro, Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <section>
                    
                    <div id="links">
                        <!-- <a href="https://soundcloud.com/lerb-fanbase" target="_blank" >MIXES</a> -->
                        <a href="https://ra.co/dj/lerb/" target="_blank" >TOUR DATES</a>
                        <a href="https://medium.com/@leroybuliro" target="_blank" >BLOG</a>
                        <a href="https://podcasts.apple.com/us/podcast/kubonga-show/id1470474649" target="_blank" >PODCAST</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'account:logout' %}">LOG OUT</a>
                        {% else %}
                        <a href="{% url 'account:auth' %}">INSIDERS</a>
                        {% endif %}
                    </div>
                    
                    <div id="imagediv">
                        <img id="image" src="{% static 'core/media/lbwhite.png' %}" alt="leroy">
                    </div>
                    
                    {% if user.is_authenticated %}
                    <div id="intro">
                        {% if user.is_staff %}
                        <span>Logged in as @{{ request.user.alias }}</span>
                        {% else %}
                        <span>Hi {{ request.user.alias }}. We are still getting things ready for you.</span>
                        {% endif %}
                    </div>
                    {% endif %}                                        
                </section>
                <video src="{% static 'core/media/intro.mp4' %}" autoplay muted loop></video>
            </div>
        </div>
    </body>
</html>