{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- site meta -->
        <link rel="canonical" href="https://leroybuliro.com/">
        <link rel="icon" type="image/png" href="{% static 'core/media/favicon.ico' %}">
        <meta name="author" content="Leroy Buliro">
        <meta name="docsearch:language" content="en">
        {% block meta %}
        {% endblock meta %}     
        <!-- Load css file -->
        <link rel="stylesheet" href="{% static 'core/podbase.css' %}">
        {% block style %}
        {% endblock style %}
        <!-- Load js -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" async></script>
        <script>
            document.addEventListener ('DOMContentLoaded', function(){

                /* menu */
                const menuBtn = document.querySelector('.menuBtn')
                let menuOpen = false

                menuBtn.addEventListener('click', () => {
                    const mobMenu = document.querySelector('.mobile-menu')
                    
                    if(!menuOpen){
                        menuBtn.classList.add('open')
                        mobMenu.classList.add('show')
                        menuOpen= true
                    } else {
                        menuBtn.classList.remove('open')
                        mobMenu.classList.remove('show')
                        menuOpen = false
                    }
                })

                /* Dropdown */

                document.querySelector('.dropbtn').onclick = ()=> {
                    document.querySelector('#myDropdown').classList.toggle('show')
                }

                // Close the dropdown if the user clicks outside of the Dropdown button

                window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content")
                        var i
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i]
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show')
                            }
                        }
                    }
                }

            })
        </script>
        {% block script %}
        {% endblock script %}
    </head>

    <body>
        <nav class="topnav">
            <a id="navlogo" href="{% url 'core:index' %}">
                <img class="logoimg" src="{% static 'core/media/about.jpg' %}" alt="logo">
                <img class="logoimg" src="{% static 'core/media/lbwhite.png' %}" alt="logo">
            </a>
            <div class="navmenu">
                <a href="{% url 'core:event' %}">EVENTS</a>
                {% block navmenu %}
                {% endblock navmenu %}
                <a href="{% url 'core:blogpage' %}">BLOG</a>
            </div>
            <div id="access">
                {% if user.is_authenticated %}
                <a href="{% url 'account:logout' %}"><button class="accessbtn">Log out</button></a>
                {% else %}
                <a href="{% url 'account:auth' %}"><button class="accessbtn">Sign in</button></a>
                {% endif %}
            </div>
            <div class="menuBtn">
                <div class="menu-btn__burger"></div>
            </div>
        </nav>
        
        <div class="mobile-menu">
            <a href="{% url 'core:event' %}">EVENTS</a>
            <a href="{% url 'core:blogpage' %}">BLOG</a>
            {% block mobilemenu %}
            {% endblock mobilemenu %}
        </div>
        
        {% block page %}
        {% endblock page %}
        
        <div class="bottom">
            <div id="footersocial">
                <a href="https://twitter.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconTT-black.png' %}" alt="twitter" width="auto" height="22" ></a>
                <a href="https://instagram.com/leroybuliro/" target="_blank"><img src="{% static 'core/media/iconIG-black.png' %}" alt="instagram" width="auto" height="22" ></a>
            </div>
            <a>© 2022 Leroy Buliro. All rights reserved.</a>
            <span>
                <a href="{% url 'core:legal' %}">Legal</a>
            </span>
        </div>
        
        {% block player %}
        {% endblock player %}

        <noscript>
            <div style="display: flex; place-content: center;">
                <p>Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
            </div>
        </noscript>
    </body>
</html>