{% extends 'core/podbase.html' %}
{% load static %}

{% block meta %}
{% with podcast.0 as podcast %}
<title>{{podcast.title}} | A podcast by Leroy Buliro</title>
<meta name="description" content="{{podcast.description}}">
<meta name="keyword" content="{{podcast.tags}}">
{% endwith %}
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/podcast.css' %}">
{% endblock style %}

{% block script %}
<script src="{% static 'core/podcast.js' %}"></script>
{% endblock script %}

{% block navmenu %}
<a id="menuactive">PODCAST</a>
{% endblock navmenu %}

{% block mobilemenu %}
<a href="#">PODCAST</a>
{% endblock mobilemenu %}

{% block page %}
{% with podcast.0 as podcast %}
<div class="podpage">

    <section id="intro">
        <img src="{{ podcast.image.url }}" alt="{{podcast.title}}" style="width: 100%; height: auto;">
        <div id="side">
            <h2 style="color: #fff;">About</h2>
            <div id="pod-deet">{{ podcast.description | safe}}</div>
            <div class="dropdown">
                <button class="dropbtn">LISTEN ON AN APP | ▼</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ podcast.appleurl }}" target="_blank">Apple Podcasts</a>
                    <a href="{{ podcast.googleurl }}" target="_blank">Google Podcasts</a>
                    <a href="{{ podcast.spotifyurl }}" target="_blank">Spotify</a>
                </div>
            </div>
        </div>
        <div class="curve">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    
    <div class="section2">
        <h3 style="color: #000; text-decoration: underline; margin: 0 0 30px 0;">Episodes</h3>
        <div class="podcontainer">
            {% for episode in podcast.episodes.all %}
            <div class="podcast-epi">
                <a href="{% url 'core:episode' s=episode.season e=episode.id slug=episode.slug %}">
                    <img src="{{ episode.image.url }}" alt="{{ podcast.title|slugify }}-{{ episode.title|slugify }}" style="width: 100%; height: auto;">
                    <p class="epi-id">#{{ episode.id }}</p>
                    <p class="epi-deet">{{ episode.title }}</p>
                    <div class="epi-play">
                        <!-- <img id="pButton" class="play-button"> -->
                    </div>
                    <audio id="audio" preload="true" >
                        <source src="{{ episode.audio.url }}">
                    </audio>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock page %}