{% extends "core/podbase.html" %}
{% load static %}

{% block page %}
<div class="podpage">

    <section id="intro">
        <img src="{{ podcast.image.url }}" alt="{{podcast.title}}" style="width: 100%; height: auto;">
        <div id="side">
            <h2 style="color: #fff;">About</h2>
            <div id="pod-deet">{{ podcast.description | safe}}</div>
            <div class="dropdown">
                <button class="dropbtn">LISTEN ON AN APP | ▼</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ podcast.appleurl }}" target="_blank">Apple Podcasts</a>
                    <a href="{{ podcast.googleurl }}" target="_blank">Google Podcasts</a>
                    <a href="{{ podcast.spotifyurl }}" target="_blank">Spotify</a>
                </div>
            </div>
        </div>

        <div class="curve">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    
    
    <div class="section2">
        <h3 style="color: #000; text-decoration: underline; margin: 0 0 30px 0;">Episodes</h3>
        <div class="podcontainer">
            {% for episode in podcast.episodes.all %}
            <div class="podcast-epi">
                <!-- <a href="{% url 'core:episode' s=episode.season e=episode.id slug=episode.slug %}">
                </a> -->
                <img src="{{ episode.image.url }}" alt="{{ podcast.title|slugify }}-{{ episode.title|slugify }}" style="width: 100%; height: auto;">
                <p class="epi-id">#{{ episode.id }}</p>
                <p class="epi-deet">{{ episode.title }}</p>
                <div class="epi-play">
                    <img id="pButton" style="width: 100%; height: 100%;">
                </div>
                <audio id="episodeaudio" preload="true" >
                    <source src="{{ episode.audio.url }}">
                </audio>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock page %}

{% block card %}
<div class="episodepage">
{% with podcast.episode.0  as episode %}

    <div class="row">
        <div class="side">
            <img src="{{ episode.image.url }}" alt="{{episode.title}}" style="width: 100%; height: 100%">
        </div>

        <div class="main">
            <p style="color: gray;">{{ episode.pubDate }}</p>
            <h3 style="padding-bottom: 4%;">{{ episode.title }}</h3>
            <div class="epi-content">
                <h4>DESCRIPTION</h4>
                <p>{{ episode.summary }}</p>

            </div>
        </div>
    </div>
    {% endwith %}

</div>
{% endblock card %}