/* Article Page */
a {
    color: #fff;
    font-weight: 400;
}
.articlepage {
    background-color: #000;
    padding: 0;
}
.articlepage p, a {
    font-family: Josefin Sans;
    line-height: 2rem;
    font-size: 15px;
    color: #fff;
}
.articlepage ul, ol, li {
    font-family: Josefin Sans;
    line-height: 1rem;
    font-size: 15px;
    color: #fff;
}
.articlepage h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    line-height: 1.7rem;
    color: #fff;
}
.articlepage section {
    display: grid;
    width: 100%;
    grid-template-columns:  1fr 1fr;
    margin: 0% 0% 3% 0%;
}
.articlepage section .meta {
    margin: 0;
    padding: 0% 8%;
    /* background-color: orange; */
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    grid-gap: 14px;
}
.articlepage #category {
    font-family: Josefin Sans;
    color: #000;
    background-color: transparent;
    font-size: 13px;
    text-transform: uppercase;
}
.articlepage #title {
    font-family: Josefin Sans;
    font-weight: bolder;
    color: #000;
    font-size: 30px;
    /* line-height: 3rem; */
    text-transform: uppercase;
    margin: 1rem 0rem;
}
.articlepage #pubDate {
    font-family: Josefin Sans;
    color: #000;
    font-size: 12px;
}
.articlecontent {
    padding: 4% 20% 0% 20%;
}
.articlecontent .maincontent {
    margin: 0%;
    padding: 0%;
}
.articlecontent .maincontent p {
    margin-bottom: 2%;
    font-size: 17px;
}
.articlecontent .maincontent p:first-child::first-letter {
    font-family: 'IM Fell English', serif;
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    font-size: 7rem;
    float: left;
    line-height: 0.9;
}
.articlecontent .maincontent p strong {
    margin-bottom: 4%;
    font-weight: bold;
}
.articlecontent .maincontent a {
    font-size: 17px;
}
.articlecontent .maincontent ul {
    margin-bottom: 4%;
    padding-left: 2%;
}
.articlecontent .maincontent ol {
    margin-bottom: 4%;
    padding-left: 2%;
}
#entryend {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: Permanent Marker;
    text-align: center;
    font-size: 50px;
    padding: 7rem 0rem;
    margin: 0;
}
.articlepage #back {
    padding: 0% 2% 4% 2%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

@media screen and (max-width: 769px) {
    .articlepage section {
        grid-template-columns:  1fr;
    }
    .articlepage section .meta {
        padding: 7% 2%;
        grid-gap: 10px;
    }
    .articlepage #title {
        font-size: 30px;
        margin: 0;
    }
    .articlecontent {
        padding: 4% 2% 0% 2%;
    }
    .articlecontent .maincontent p {
        margin-bottom: 4%;
        font-size: 14px;
    }
    .articlecontent .maincontent p:first-child::first-letter {
        font-size: 4rem;
        line-height: 0.9;
    }
    .articlecontent .maincontent a {
        font-size: 14px;
    }
    .articlecontent .maincontent ul {
        margin-bottom: 6%;
        padding-left: 4%;
    }
    .articlecontent .maincontent ol {
        margin-bottom: 6%;
        padding-left: 4%;
    }
    #entryend {
        font-size: 20px;
        padding: 4rem 0rem;
    }
}