@font-face {
    font-family: Josefin Sans;
    src: url('/static/core/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Indie;
    src: url('/static/core/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Permanent Marker;
    src: url('/static/core/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

p, ol, ul, a, th, td, h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
}

/* Menu */

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 34px;
    width: 100%;
    border: none;
    background-color: #171a23;
    z-index: 3;
}
#navlogo {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-0%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 7px;
}
.logoimg {
    width: auto;
    height: 22px;
}
.navmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navmenu a {
    padding: 5px 14px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.navmenu a:hover {
    background-color: #ddd;
    color: #000;
}
#menuactive,
#menuactive:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.access {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-0%, -50%);
}
.accessbtn,
.accessbtn:hover {
    text-decoration: none;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 13px;
    color: #ffffff;
    background-color: #168dd9;
    border-radius: 4px;
    border: none;
    padding: 3px 10px;
}

/* Hamburger menu */

.menu-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-0%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger {
    width: 14px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-8px)
}
.menu-btn__burger::after {
    transform: translateY(8px);
}
.menu-btn.open .menu-btn__burger{
    transform: translateX(-18px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(10px, -10px);
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(10px, 10px);
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    display: none;
    background: #171a23fa;
    border-top: 1px #c0c0c0 solid;
    padding: 4px 0;
}
.mobile-menu a,
.mobile-menu a:hover {
    text-decoration: none;
}
.mobile-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.mobile-menu-item img {
    max-height: 30px;
}
.mobile-menu-item svg {
    color: #ccc;
}
.mobile-menu-item span {
    color: #ccc;
    font-size: 12px;
    font-family: Indie;
}

@media screen and (max-width: 420px) {
    .navmenu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer {
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 769px) {
   .logoimg {
        height: 18px;
    }
}
@media screen and (max-width: 342px) {
    .accessbtn,
    .accessbtn:hover {
        font-size: 10px;
        padding: 3px 7px;
    }
}

/* Modal */
.Cmodal {
    z-index:3;
    display:none;
    position:fixed;
    padding-top: 24vh;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.Cmodal-content {
    position:relative;
    animation:animatebottom 0.8s;
    margin:auto;
    background-color:#ffffff;
    padding:14px;
    outline:0;
    border-radius: 8px;
    width:600px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
@keyframes animatebottom {
    from{bottom:-300px;opacity:0}
    to{bottom:0;opacity:1}
}
.modal-close-btn{
    position:absolute;
    right:0;
    top:0;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size:30px!important;
}
.modal-close-btn:hover{
    color:#fff!important;
    background-color:#f44336!important;
}
.modal-container {
    padding: 24px 0 2px 0;
}
.modal-container:after,
.modal-container:before {
    content:"";
    display:table;
    clear:both;
}
.modal-section {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}
.modal-section p {
    font-size: 14px;
    text-decoration: none;
}
.modal-btn {
    padding: 7px 17px;
    border: 1px #000000 solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: medium;
    font-weight: 400;
    font-family: CrimsonPro;
    cursor: pointer;
}
.modal-btn-alt {
    padding: 7px 17px;
    border: 1px #000000 solid;
    border-radius: 4px;
    background-color: #000000;
    color: #ffffff;
    font-size: medium;
    font-weight: 400;
    font-family: CrimsonPro;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width:600px){
    .Cmodal-content{
        margin:0 18px;
        width:auto!important;
    }
}
@media (max-width:768px) {
    .Cmodal-content{width:500px}
    .Cmodal{padding-top: 20vh;}
}
@media (min-width:993px) {
    .Cmodal-content{width:900px}
}
