body {
    /* background: #045256; */
    /* background: #9AB8BA; */
    background-color: #000000;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}
.podpage {
    margin: 0 0 0 0;
}
.podpage p, h2, h3 {
    color: #fff;
}
.podintro {
    background: #9AB8BA url('/static/core/media/podBg.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 620px;
    padding: 8vh 10% 200px 10%;
}
.podintro h2, h4, p {
    color: #000000;
}
.podside {
    position: absolute;
    top: 10%;
    right: 4%;
    /* transform: translate(-50%, -50%); */
    /* width: 480px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.podlogo {
    width: 700px;
    height: auto;
}
.podurls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 14px;
    width: 100%;
}
.episodes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 0 10% 70px 10%;
}
.pod-deet {
    font-size: 20px;
    line-height: 1.7rem;
    overflow-wrap: break-word;
}
.episode {
    border-radius:12px;
    width: 100%;
}

/** For mobile devices **/

@media (min-width: 541px) and (max-width: 1540px) {
    .podside {
        gap: 30px;
        top: 22%;
        right: 7%;
        /* width: 200px; */
    }
    .podlogo {
        width: 330px;
    }
}

/** For mobile devices **/

@media only screen and (max-width: 541px) {
    .podpage {
        margin: 0 0 0 0;
    }
    .podintro {
        padding: 0 0 20vh 0;
        background-position: center;
    }
    .podside {
        gap: 30px;
        top: 28%;
        right: 2%;
        /* width: 200px; */
    }
    .podlogo {
        width: 210px;
    }
    .pod-deet {
        font-size: 20px;
        line-height: 1.4rem;
    }
    .podurls {
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        grid-gap: 10px;
    }
    .podurls img {
        width: 130px;
    }
    .episodes {
        padding: 0 2% 70px 2%;
    }
    .episode {
        width: 100%;
    }
}

/** For tablet devices **/

@media (min-width: 768px) and (max-width: 1023px) {
    .podintro {
        padding: 0% 10% 20vh 10%;
    }
}

/** Curve **/
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.curve svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 140px;
    transform: rotateY(0deg);
}
.curve .shape-fill {
    fill: #000000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .curve svg {
        width: calc(126% + 1.3px);
        height: 127px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .curve svg {
        width: calc(134% + 1.3px);
        height: 80px;
    }
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    clear: both;
}
#footersocial {
    display: flex;
    grid-gap: 10px;
}
footer a, a:hover {
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}
@media screen and (max-width: 769px) {
    footer {
        padding: 3% 1%;
        flex-direction: column;
        grid-gap: 10px;
    }
}