* {
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Josefin Sans;
    src: url('../static/blogapp/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Indie;
    src: url('../static/blogapp/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Marker;
    src: url('../static/blogapp/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Menu */

.topnav {
    height: 42px;
    border: none;
    margin: 0;
    top: 0%;
    padding: 0;
    background-color: rgba(51, 61, 61, 0.959);
    width: 100%;
    position: sticky;
    z-index: 1;
}
#navlogo {
    float:left;
    display: grid;
    place-items: center;
    position: absolute;
    top: 20%;
    left: 2%;
}
#navsocial {
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 2%;
}
#navsocial a {
    margin-left: 10px;
}
.navmenu {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navmenu a {
    padding: 5px 16px;
    text-decoration: none;
    font-size: 12px;
}
.navmenu a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bolder;
}
#menuactive {
    font-weight: bolder;
    cursor: pointer;
    text-decoration: line-through;
    color: black;
}
/* .floatmenu {
    position:fixed;
    bottom: 12%;
    right: 4%;
    z-index: 3;
    display: block;
    cursor: pointer;
}
.floatmenu #menu {
    position:fixed;
    bottom: 12%;
    right: 4%;
    z-index: 3;
    display: block;
    background-color: rgb(50, 50, 221);
    cursor: pointer;
    animation-name: hide;
    animation-duration: 60ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
} */

@media screen and (max-width: 4000px) {
    .navmenu {
        display: block;
        display: inline;
    }
}
@media screen and (max-width: 980px) {
    .navmenu {
        display: none;
    }
}
@media screen and (max-width: 740px) {
    .topnav {
        height: 30px;
    }
    #navlogo, #navsocial {
        top: 10%;
    }
}

/* Pages */

.pagetitle {
    background-color: black; 
}
.pagetitle > p {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 6% 0% 0% 0%;
    margin: 0%;
}

/* HOMEPAGE */

p, ol, ul, a, th, td, h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    /*font-family: 'Josefin Sans', sans-serif;*/
}
p, ol, ul, a, th, td {
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
}
h6 {
    color: white;
}
h1, h2, h3, h4, h5 {
    color: gray;
}

@media only screen and (max-width: 750px) {
    p {
        font-size: 14px;
    }
}

.sectionseparator {
    margin: 10% 10%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Blog Section */

.blogsec {
    margin: 4% 2% 0% 2%;
    background-color: black;
}
.responsive-blog {
    margin: 2% 1% 2% 0%;
    float: left;
    width: 23.99%;
    border: 1px solid #ccc;
    border-radius: 3%;
}
#blogmeta {
    padding: 2% 0% 0% 0%;
}

@media only screen and (max-width: 750px) {
    .responsive-blog {
        width: 100%;
        margin: 2% 0% 2% 0%;
        border-radius: 5%;
    }
    #blogimage {
        float: right;
        width: 50%;
        padding-left: 3%;
    }
    #blogmeta {
        overflow:visible;
    }
}

/* Blog Page */

.blogpage p, ol, ul, a, th, td {
    font-size: 13px;
    color: white;
    margin: 0;
    padding: 0;
}
.blogpage {
    padding: 0% 3% 4% 3%;
    background-color: black;
}
.blogpage .responsive-blog {
    margin: 2% 1% 2% 0%;
    float: left;
    width: 23.99%;
    border: 1px solid #ccc;
    border-radius: 3%;
}

@media only screen and (max-width: 1000px) {
    .blogpage .responsive-blog {
        width: 48.99%;
        margin: 2% 1% 2% 0%;
    }
}
@media only screen and (max-width: 750px) {
    .blogpage .responsive-blog {
        width: 100%;

    }
}

/* Article Page */

.articlepage p, a, ul, ol, li {
    font-family: Josefin Sans;
    font-size: 15px;
    color: white;
}
.articlepage h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    color: white;
}
.articlepage {
    padding: 4% 20%;
    font-family: Josefin;
    font-size: 15px;
}
.articlepage #category {
    color: gray;
    font-size: 10px;
    background-color: red;
}
.articlepage .maincontent {
    margin: 0%;
    padding: 0%;
}
.articlepage .maincontent p {
    margin-bottom: 2%;
    font-size: 17px;
}
.articlepage .maincontent p:first-child::first-letter {
    font-family: 'IM Fell English', serif;
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    font-size: 9rem;
    float: left;
    line-height: 0.9;
}
.articlepage .maincontent p strong {
    margin-bottom: 4%;
    font-weight: bold;
}
.articlepage .maincontent a {
    font-size: 17px;
}
.articlepage .maincontent ul {
    margin-bottom: 4%;
    padding-left: 2%;
}
.articlepage .maincontent ol {
    margin-bottom: 4%;
    padding-left: 2%;
}

@media screen and (max-width: 740px) {
    .articlepage {
        padding: 4% 2%;
    }
    .articlepage .maincontent p {
        margin-bottom: 4%;
        font-size: 14px;
    }
    .articlepage .maincontent p:first-child::first-letter {
        font-size: 5rem;
        line-height: 0.9;
    }
    .articlepage .maincontent a {
        font-size: 14px;
    }
    .articlepage .maincontent ul {
        margin-bottom: 6%;
        padding-left: 4%;
    }
    .articlepage .maincontent ol {
        margin-bottom: 6%;
        padding-left: 4%;
    }
}

/* Comment Sec */

.commentsec {
    padding: 4% 20%;
}
.commenttext a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

@media screen and (max-width: 740px) {
    .commentsec {
        padding: 10% 2%;
    }
}
.articlepagebtn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    z-index: 3;
    font-size: 11px;
    padding: 10px 24px;
    text-decoration: none;
}
.articlepagemiddle {
    display: grid;
    place-items: center;
}
.entryend {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 50px;
    margin: 0% 0% 4% 0%;
}

@media screen and (max-width: 740px) {
    .entryend {
        font-size: 30px;
        margin: 0% 0% 10% 0%;
    }
}

/* Podcast Section */

.podsec {
    padding: 2% 3% 0% 3%;
    background-color: black;
}
.row {  
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
}
.side {
    flex: 40%;
    padding-right: 3%;
}
.main {
    flex: 60%;
}
#episeparator {
    /* border-top: 1px dashed silver; */
    margin: 3% 0%;
}
.responsive-epi {
    width: 100%;
    color: white;
    padding: 0%;
}

@media screen and (max-width: 750px) {
    .podsec {
        padding: 6% 4% 0% 4%;
        background-color: black;
    }
    .row {   
        flex-direction: column;
        margin: 0% 1%;
    
    }
    .side {
        width: 100%;
        padding-bottom: 10%;
    }
    .seasons {
        margin-top: 6%;  
    }
    #episeparator {
        /* border-top: 1px dashed silver; */
        margin: 6% 0%;
    }
}

/* Podcast Section Buttons */

#playbtn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 9px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
}
#playbtn:hover{
    border: 1px solid red;
}
.dropdown {
    padding-right: 3%;
    position: relative;
    display: inline-block;
}
.btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    z-index: 1;
    font-size: 11px;
    padding: 10px 24px;
}
.btn:hover{
    color: white;
}
.dropbtn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    z-index: 1;
    font-size: 11px;
    padding: 10px 24px;
}
.dropdown a:hover {
    background-color: #ddd;
}
.dropdown-content {
    background-color: black;
    border: 2px solid white;
    display: none;
    min-width: 100%;
    position: absolute;
    overflow: auto;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 5% 0%;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: gray;
}
.show {
    display: block;
}

/* Podcast Page */

.podpage {
    padding: 2% 15% 4% 15%;
    background-color: black;
}
.podpage p, ol, ul, a, th, td, h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    /*font-family: 'Josefin Sans', sans-serif;*/
}
.podpage p, ol, ul, a, th, td {
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
}
.podpage h1, h2, h3, h4, h5, h6 {
    color: white;
}
.podpage .row {  
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding: 2% 10%;
}
.podpage .main {
    flex: 40%;
    padding-right: 3%;
}
.podpage .side {
    flex: 60%;
}
.podpage #pod-deet p {
    padding-bottom: 1%;
    font-size: 20px;
}
.podpage .container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: auto; 
    column-gap: 2%;
    row-gap: 3%;
    padding: 0%;
    margin: 0%;
}
.podpage .podcast-epi {
    position: relative;
}
.podpage .epi-id {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 28px;
    color: yellow;
    background-color: black;
    padding: 1%;
}
.podpage .epi-deet {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 1%;
}

@media screen and (max-width: 1089px) {
    .podpage .container {
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto; 
        column-gap: 1,5%;
        row-gap: 2%;
    }
    .podpage .epi-id {
        top: 12px;
        left: 14px;
        font-size: 20px;;
    }
    .podpage .epi-deet {
        font-size: 18px;
        padding: 1% 1% 0% 1%;
    }
}

@media screen and (max-width: 750px) {
    .podpage {
        padding: 6% 1% 4% 1%;
        background-color: black;
    }
    .podpage .row {   
        flex-direction: column;
        padding: 0%;
    }
    .podpage .main {
        width: 100%;
        padding-bottom: 10%;
        padding-right: 0%;
    }
    .podpage .side {
        width: 100%;
    }
    .podpage #pod-deet p {
        font-size: 18px;
    }
    .podpage .container {
        grid-template-columns: 48% 48%;
        grid-template-rows: auto; 
        column-gap: 4%;
        row-gap: 2%;
    }
    .podpage .epi-id {
        top: 12px;
        left: 12px;
        font-size: 20px;
        padding: 1% 4%;
    }
    .podpage .epi-deet {
        font-size: 16px;
        padding: 1% 1% 0% 1%;
    }
}

/* Podcast Episode Page */

.episodepage {
    padding: 6% 12% 0% 12%;
    background-color: black;
}
.episodepage .row {  
    display: flex;
    flex-wrap: wrap;
}
.episodepage .side {
    flex: 40%;
    padding-right: 3%;
}
.episodepage .main {
    flex: 60%;
}
.episodepage .epi-content {
    display: block;
}
.episodepage .btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    z-index: 1;
    font-size: 11px;
    padding: 10px 24px;
}

.episodepage .btn:hover{
    color: white;
}

@media screen and (max-width: 750px) {
    .episodepage {
        padding: 6% 2% 0% 2%;
        background-color: black;
    }
    /* .episodepage .row {   
        flex-direction: column;
    
    } */
    .episodepage .side {
        /* width: 100%; */
        padding-bottom: 10%;
    }
    .episodepage .epi-content p {
        font-size: 14px;
    }
}

/* Podcast Episode Page Player */

.episodepage .controls {
    /* float: left; */
    align-items: center;
    display: flex;
    margin: 0;
    margin: 4% 0%;
}
.episodepage .controls .pButton {
    cursor: pointer;
    padding: 0;
    margin-right: 7px;
    width: 40px; 
    height: 40px;
}
.episodepage #timeline {
    width: 90%;
    height: 2px;
    margin: 4% 0%;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(252, 250, 250, 0.678);
}
.episodepage #playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: white;
    cursor: pointer;
}
.episodepage .timer {
    font-family: monospace;
    color: white;
    float: right;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .episodepage #timeline {
        width: 100%;
    }
    .episodepage .timer {
        font-size: 14px;
    }
}

/* Event Section */

.middle {
    display: grid;
    place-items: center;
}
.eventsec {
    background-color: black;
    padding: 5% 8% 0% 8%;
}
th, td {
    padding: 15px 30px 15px 30px;
}

th {
    font-size: large;
}

/* Event Page */

.eventpage {
    padding: 0% 8% 4% 8%;
    text-align: center;
}
.eventpage .container {
    padding: 0%;
    margin: 0%;
}
.eventpage .container img {
    width: 50%;
}
.eventpage .text-block {
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
}

@media screen and (max-width: 740px) {
    .eventpage .container img {
        width: 100%;
    }
}

/* About Section */

.aboutsec {
    background-color: black;
    padding: 0% 14% 0% 14%;
    text-align: center;
}

/* Footer */

footer {
    font-size: 13px;
    color: white;
    position: static;
    border-top: 1px solid silver;
    bottom: 0%;
    margin: 10% 5% 4% 5%;
    padding: 4% 0% 0% 0%;
}

@media only screen and (max-width: 750px) {
    footer {
        margin: 10% 5% 8% 5%;
    }
}