{% extends "account/index.html" %}
{% load static %}

{% block pagetitle %}
Enter your new password
{% endblock pagetitle %}

{% block pageheader %}
<h3 style="text-align: center;">Enter your new password</h3>
{% endblock pageheader %}
        
{% block form %}
<form method="post" class="authform">{% csrf_token %}
    
    <div>
        <span class="formlabel">{{ form.password.label }}</span>
        {% for error  in form.pwd.errors %}
        <span class="formerror">*{{ error }}</span>
        {% endfor %}
        <input type="password" name="password" class="forminput" required>
    </div>
    
    <div>
        <span class="formlabel">{{ form.password2.label }}</span>
        {% for error  in form.pwd2.errors %}
        <span class="formerror">*{{ error }}</span>
        {% endfor %}
        <input type="password" name="password2" class="forminput" required>
    </div>

    {% if form.non_field_errors %}
    <div>
        {% for error in form.non_field_errors %}
        <p class="formerror">**{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <input type="submit" name="send" class="btn" value="Change password">
</form>
{% endblock form %}